@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000; text-align: left; font-size: 1em;}
  h2 {
    font-size: 1.5em;
  }
  
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
  header{
    display: none;
  }
  footer{
      display:none;
  }
  video{
      display: none;
  }
  section {
    page-break-inside: avoid;
  }
  .container{
      page-break-inside: auto;
      display: block;
  }
  .container p {
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    border: none;
    padding: 0;
    background-color: white;
    border-radius: 0;
    display:block;
    width:fit-content;
    font-size: 1.5em;
  }
  .container img {
      float:none;
      display: block;
      width: 150px;
      margin-right: 0;
      border-radius: 0;
      border: none;
  }
  figcaption{
      display:none;
  }
  aside {
      float: right;
      margin-right: 25em;
      font-size: .5em;
  }
  .header li a {
    font-size: 1em;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  table {
    font-size: 1.2em;
  }
  .urlap {
    font-size: 1em;
  }
  .urlap ul, li {
    font-size: 1em;
  }
  #kulon ul, li {
    font-size: 1em;
  }
  #kulon {
    font-size: 1em;
  }
  label{
    font-size: .75em;
  }
  figcaption{
    font-size: 1em;
  }
}

@page {
    margin: 1cm;
  }